.hidden{
    visibility: hidden;
}
.itemInWidgetContainer{
    
    position:fixed;
    right: 0;
    z-index: 1;
    width:max-content;
    padding:0.5em;
    background-color: rgb(207, 197, 197);
 }
h4{
    margin-left: 1.5em;
}
