.hidden{
    visibility: hidden;
}
.itemInWidgetContainer{
    min-height: 40vh;
    height: max-content;
    position:fixed;
    right:0;
    z-index: 1;
    width:max-content;
    min-width:350px;
    padding:0.5em;
    background-color: rgba(196, 189, 192, 0.899);
    border-radius:0.9em;
}
h4{
    margin-left: 1.5em;
}
