.detail{
    margin-top: 1em;
    padding: 2em;
    text-align: center;
    justify-content: center;
    border-radius:3%;
    border: black;
    background-color: rgb(184, 210, 237);
    width:100%;
    padding:1em;
}