.itemInWidget {
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-columns: repeat(5,1fr);
  width: 100%;
}
.imgInWidget {
  width: 2rem;
  height: 2rem;
  border-radius: 200%;
  object-fit: cover;
}
