.cartItemContainer {
  display: flex;
  background-color: rgb(194, 194, 194);
  justify-content: space-around;
  text-align: center;
  text-justify: center;
}
.cartItemContainer img {
  width:3em;
  height: 3em;
  object-fit: cover;
  border-radius: 100%;
}
